@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: Drone Ranger;
        src: url('/assets/fonts/webfonts_High-Jakarta/High-Jakarta.ttf.woff') format('woff'),
             url('/assets/fonts/webfonts_High-Jakarta/High-Jakarta.ttf.svg#Hign-Jakarta') format('svg'),
             url('/assets/fonts/webfonts_High-Jakarta/High-Jakarta.ttf.eot'),
             url('/assets/fonts/webfonts_High-Jakarta/High-Jakarta.ttf.eot') format('embedded-opentype');
        font-weight: normal;
        font-style: normal;
    }
}

@layer components{
    .btn-primary{
        @apply bg-gradient-to-tr from-[#DA458F]/[6] to-[#DA34DD] rounded-md transition-all transform duration-300 ease-in-out hover:scale-105 hover:from-[#DA34DD] hover:to-[#DA458F]/[6]
    }
}

@layer utilities{
    .gradient-primary{
        @apply bg-gradient-to-r from-[#DA458F]/[6] to-[#DA34DD] text-transparent;
        -webkit-background-clip: text;
    }
}

.link-active-after{
    @apply after:absolute after:bottom-[25px] md:after:-bottom-1 after:left-0 after:gradient-primary after:h-0.5 after:w-0 after:transition-all after:ease-in-out after:duration-300;
    @apply after:bg-clip-content;
}

.router-link-active{
    @apply gradient-primary pointer-events-none;
   
}
.router-link-active svg{
    @apply block text-green-500 pointer-events-none;
}

.router-link-active.link-active-after{
    @apply after:w-8
}

.animation-init{
    @apply opacity-0 -translate-x-full
}

.animation-slide-in {
    @apply opacity-100 translate-x-0
}

.bg-new-arrivals{
    @apply bg-[url('/img/bg-new-arrivals.png')]
}

.bg-stakeholders{
    @apply bg-[url('/img/stakeholderBg.png')]
}
.hide-scroll::-webkit-scrollbar{
    display: none;
}
.open{
    opacity: 1;
}