<template>
    <header class="bg-[#17161acc] fixed w-full top-0 z-50">
        <nav class="container mx-auto font-drone-ranger px-4 2xl:px-0 ">
            <div class="flex items-center lg:gap-5  lg:h-[84px] xl:gap-0 justify-between py-3">
                <div class="flex items-center h-full md:gap-5 lg:gap-7 xl:gap-[60px]">
                    <div class="logo">
                        <a href="#"
                            class=" block transition-all duration-700 ease-in-out transform hover:scale-110 hover:-rotate-12">
                            <img class="w-21 h-auto md:w-28" src="/img/logo.png" alt="logo-img">
                        </a>
                    </div>
                    <div class="absolute md:block top-[60px] w-full right-0 py-4 bg-[#17161acc] md:static transition-all duration-300 md:w-auto md:py-0 md:bg-inherit"
                        :class="[!isActive ? 'hidden' : 'open', ' ']" :style="{ 'height': height }">
                        <ul
                            class="flex flex-col gap-4 mx-4 font-semibold text-[14px] md:flex-row lg:mx-0 uppercase text-white lg:font-bold lg:text-base xl:gap-[60px] h-full transition-all duration-300">
                            <li>
                                <NuxtLink :to="localPath('/')"
                                    class=" h-full flex items-center relative link-active-after transition-all duration-300 ease-in-out transform hover:scale-105 hover:gradient-primary">
                                    {{ $t("home") }}
                                </NuxtLink>
                            </li>
                            <li>
                                <NuxtLink :to="localPath('/marketplaces')"
                                    class=" h-full flex items-center relative link-active-after transition-all duration-300 ease-in-out transform hover:scale-105 hover:gradient-primary">
                                    {{ $t("marketplaces") }}</NuxtLink>
                            </li>
                            <li>
                                <NuxtLink :to="localPath('/tokenomics')"
                                    class=" h-full flex items-center relative link-active-after transition-all duration-300 ease-in-out transform hover:scale-105 hover:gradient-primary">
                                    {{ $t("tokenomics") }}</NuxtLink>
                            </li>
                            <li>
                                <NuxtLink :to="localPath('/whitepaper')"
                                    class=" h-full flex items-center relative link-active-after transition-all duration-300 ease-in-out transform hover:scale-105 hover:gradient-primary">
                                    {{ $t("whitepaper") }}</NuxtLink>
                            </li>
                            <li>
                                <NuxtLink :to="localPath('/statistics')"
                                    class=" h-full flex items-center relative link-active-after transition-all duration-300 ease-in-out transform hover:scale-105 hover:gradient-primary">
                                    {{ $t("statistics") }}</NuxtLink>
                            </li>
                            <li class="md:hidden flex justify-between items-center">
                                <button type="button"
                                    class=" h-full btn-primary font-semibold py-2 px-5 text-sm lg:text-base text-white ">{{
                                        $t("connet_btn") }}</button>
                                <div class="language flex py-2 cursor-pointer relative" @click="toggleLang">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-4" fill="white"
                                        viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                        <path
                                            d="M352 256c0 22.2-1.2 43.6-3.3 64H163.3c-2.2-20.4-3.3-41.8-3.3-64s1.2-43.6 3.3-64H348.7c2.2 20.4 3.3 41.8 3.3 64zm28.8-64H503.9c5.3 20.5 8.1 41.9 8.1 64s-2.8 43.5-8.1 64H380.8c2.1-20.6 3.2-42 3.2-64s-1.1-43.4-3.2-64zm112.6-32H376.7c-10-63.9-29.8-117.4-55.3-151.6c78.3 20.7 142 77.5 171.9 151.6zm-149.1 0H167.7c6.1-36.4 15.5-68.6 27-94.7c10.5-23.6 22.2-40.7 33.5-51.5C239.4 3.2 248.7 0 256 0s16.6 3.2 27.8 13.8c11.3 10.8 23 27.9 33.5 51.5c11.6 26 20.9 58.2 27 94.7zm-209 0H18.6C48.6 85.9 112.2 29.1 190.6 8.4C165.1 42.6 145.3 96.1 135.3 160zM8.1 192H131.2c-2.1 20.6-3.2 42-3.2 64s1.1 43.4 3.2 64H8.1C2.8 299.5 0 278.1 0 256s2.8-43.5 8.1-64zM194.7 446.6c-11.6-26-20.9-58.2-27-94.6H344.3c-6.1 36.4-15.5 68.6-27 94.6c-10.5 23.6-22.2 40.7-33.5 51.5C272.6 508.8 263.3 512 256 512s-16.6-3.2-27.8-13.8c-11.3-10.8-23-27.9-33.5-51.5zM135.3 352c10 63.9 29.8 117.4 55.3 151.6C112.2 482.9 48.6 426.1 18.6 352H135.3zm358.1 0c-30 74.1-93.6 130.9-171.9 151.6c25.5-34.2 45.2-87.7 55.3-151.6H493.4z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-3.5 h-auto" fill="white"
                                        viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                        <path
                                            d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
                                    </svg>
                                    <language-switch v-if="isLangNavActive" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex items-center gap-4 xl:gap-11">
                    <button type="button"
                        class="btn-primary font-semibold py-2 px-2 xl:px-5 text-sm xl:text-base text-white ">{{
                            $t("connet_btn") }}</button>
                    <div class="language md:flex py-2 cursor-pointer hidden relative" @click="toggleLang">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-4" fill="white"
                            viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                                d="M352 256c0 22.2-1.2 43.6-3.3 64H163.3c-2.2-20.4-3.3-41.8-3.3-64s1.2-43.6 3.3-64H348.7c2.2 20.4 3.3 41.8 3.3 64zm28.8-64H503.9c5.3 20.5 8.1 41.9 8.1 64s-2.8 43.5-8.1 64H380.8c2.1-20.6 3.2-42 3.2-64s-1.1-43.4-3.2-64zm112.6-32H376.7c-10-63.9-29.8-117.4-55.3-151.6c78.3 20.7 142 77.5 171.9 151.6zm-149.1 0H167.7c6.1-36.4 15.5-68.6 27-94.7c10.5-23.6 22.2-40.7 33.5-51.5C239.4 3.2 248.7 0 256 0s16.6 3.2 27.8 13.8c11.3 10.8 23 27.9 33.5 51.5c11.6 26 20.9 58.2 27 94.7zm-209 0H18.6C48.6 85.9 112.2 29.1 190.6 8.4C165.1 42.6 145.3 96.1 135.3 160zM8.1 192H131.2c-2.1 20.6-3.2 42-3.2 64s1.1 43.4 3.2 64H8.1C2.8 299.5 0 278.1 0 256s2.8-43.5 8.1-64zM194.7 446.6c-11.6-26-20.9-58.2-27-94.6H344.3c-6.1 36.4-15.5 68.6-27 94.6c-10.5 23.6-22.2 40.7-33.5 51.5C272.6 508.8 263.3 512 256 512s-16.6-3.2-27.8-13.8c-11.3-10.8-23-27.9-33.5-51.5zM135.3 352c10 63.9 29.8 117.4 55.3 151.6C112.2 482.9 48.6 426.1 18.6 352H135.3zm358.1 0c-30 74.1-93.6 130.9-171.9 151.6c25.5-34.2 45.2-87.7 55.3-151.6H493.4z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-3.5 h-auto" fill="white"
                            viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                                d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
                        </svg>
                        <language-switch v-if="isLangNavActive" />
                    </div>
                    <button type="button"
                        class=" inline-block p-2 border rounded-md dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 md:hidden shadow-sm outline-none focus:ring focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 dark:hover:bg-slate-800 dark:hover:text-white dark:hover:ring-offset-gray-800"
                        @click.prevent="toggleNav()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>

                    </button>
                </div>
            </div>
        </nav>
    </header>
</template>

<script setup>
const localPath = useLocalePath()
const isActive = ref(false);
const height = ref('');
const isLangNavActive = ref(false);

const toggleNav = () => {
    isActive.value = !isActive.value;
    if (isActive.value) height.value = '253px'
    else height.value = '0px'
}

const toggleLang = () => {
    isLangNavActive.value = !isLangNavActive.value;
}

onUpdated(() => height.value = '')
</script>

<style></style>