<template>
    <div class="bg-[#17161A]">
        <div class="flex flex-col gap-10 mx-4 md:mx-8 2xl:mx-40 pt-14 pb-10">
            <div class="flex flex-col gap-y-10 xl:flex-row justify-between ">
                <div class="flex justify-center items-center lg:justify-start xl:items-start">
                    <img class="w-[200px]" src="/img/logo-footer.png" alt="logo footer">
                </div>
                <div class="flex flex-col gap-y-10 lg:gap-y-0 lg:flex-row justify-center lg:justify-between xl:justify-start">
                    <div class="flex flex-col gap-10">
                        <div class="font-drone-ranger font-bold text-xl text-white ">{{$t("footer.navigation")}}</div>
                        <ul class=" grid grid-rows-3 grid-flow-col gap-y-3 gap-x-10">
                            <li v-for = "(item, index ) in navigations" :key="index">
                                <NuxtLink href="/home" class="font-inter font-medium text-base text-white">{{ $t(item) }}</NuxtLink>
                            </li>
                        </ul>
                        <div class="flex flex-col gap-8">
                            <div class="font-drone-ranger font-bold text-xl text-white tracking-widest">{{$t("footer.subcribe_title")}}</div>
                            <form class="flex flex-col lg:flex-row gap-5 lg:items-center">
                                <input class="font-inter font-medium text-xs py-3 pl-5 bg-[#17161A] border border-white rounded lg:w-[426px] text-white focus:outline focus:outline-2  focus:outline-offset-2 focus:outline-[#da458f]" type="email" :placeholder="$t('footer.placeholder')">
                        
                                <button class="btn-primary px-12 py-2 font-inter font-semibold text-base text-white">{{$t("footer.subcribe_btn")}}</button>
                            </form>
                        </div>
                    </div>
                    <div class="flex flex-col gap-10">
                        <div class="font-drone-ranger font-bold text-xl text-white ">{{$t("footer.contact")}}</div>
                        <div class="flex flex-row lg:flex-col gap-x-4 lg:gap-x-0 lg:gap-y-3">
                            <div class="flex gap-2 lg:gap-3 items-center">
                                <div class="w-5 h-5 flex justify-center items-center rounded-full bg-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        class="w-3 h-3">
                                        <path fill-rule="evenodd"
                                            d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="font-inter font-medium text-base text-white">0378-785-855</div>
                            </div>
                            <div class="flex gap-2 lg:gap-3 items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-white">
                                    <path fill-rule="evenodd"
                                        d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97zM6.75 8.25a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H7.5z"
                                        clip-rule="evenodd" />
                                </svg>
                                <div class="font-inter font-medium text-base text-white">support@gosquid.io</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full h-[1px] bg-[#3A3841]"></div>
            <div class="flex flex-col-reverse gap-y-5 lg:gap-y-0 lg:flex-row items-center justify-between">
                <div class="font-inter text-base font-medium text-white">©2022 GoSquid. {{$t("footer.reserved")}}</div>
                <ul class="flex items-center justify-end gap-14 font-inter text-base font-medium text-white">
                    <li>
                        <NuxtLink to="/home">{{$t("footer.security")}}</NuxtLink>
                    </li>
                    <li>
                        <NuxtLink to="/home">{{$t("footer.legal")}}</NuxtLink>
                    </li>
                    <li>
                        <NuxtLink to="/home">{{$t("footer.privacy")}}</NuxtLink>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script setup>
    const navigations = reactive(['home', 'about', 'team', 'whitepaper', 'marketplaces', 'roadmap', 'faqs', 'new', 'community' ]);
</script>

<style></style>