<template>
        <div class="relative z-20">
            <div class="flex justify-center items-center transition-all transform duration-300 ease-in-out hover:scale-105 cursor-pointer">
                <img class=" w-72 md:w-60 lg:w-72 xl:w-100" :src="`${props.BgGameModeLink}`" :alt="props.title">
                <div class="absolute inset-0 flex justify-center items-center -top-[60px]">
                    <img class=" h-72 md:h-60 lg:h-72 xl:h-96" :src="`${props.imgCharacterLink}`" alt="character">
                </div>
            </div>
            <div class="absolute pt-10 lg:pt-28 flex flex-col gap-4 justify-center items-center mx-8 md:mx-0">
                <div data-aos="zoom-in" class="font-drone-ranger font-bold text-xl text-white uppercase">{{props.title}}</div>
                <div data-aos="zoom-in" data-aos-delay="200" class="font-inter font-medium text-sm text-[#89888B] text-center"> {{ props.description }}
                </div>
            </div>
        </div>
</template>

<script setup>
    const props = defineProps({
        BgGameModeLink: {type: String, required: true},
        imgCharacterLink: {type: String, required: true},
        title: {type: String, required: true},
        description: {type: String, required: true}
    })

</script>

<style></style>