<template>
    <div class="flex justify-center items-center flex-col gap-4 overflow-hidden">
        <div>
            <section-tittle data-aos="fade-up" :heading="$t('section_title.game_mode')"
                :title="$t('section_title.game_mode_title')" />
        </div>
        <div class="pt-20">
            <div class="flex pt-20 gap-5 2xl:gap-9 xl:mx-4 2xl:mx-40 justify-center">
                <game-mode-selection data-aos="fade-down-right" BgGameModeLink="/img/game-mode-solo-bg.png"
                    :title="$t('game-mode.solo')" imgCharacterLink="/img/game-mode-solo.png"
                    :description="$t('game-mode.mode_title')" />
                <game-mode-selection data-aos="fade-down-left" class="hidden md:block"
                    BgGameModeLink="/img/game-mode-duo-bg.png" :title="$t('game-mode.other')"
                    imgCharacterLink="/img/game-mode-duo.png" :description="$t('game-mode.mode_title')" />
                <game-mode-selection data-aos="fade-up-left" class="hidden md:block" BgGameModeLink="/img/big-event-bg.png"
                    :title="$t('game-mode.event')" imgCharacterLink="/img/big-event.png"
                    :description="$t('game-mode.mode_title')" />
            </div>
            <div class="w-screen relative">
                <div data-aos="fade-down"
                    class="absolute left-0 right-0 -top-16 h-16 bg-gradient-to-b  from-[#21202600] to-[#E253FA]/[.4] ">
                </div>
                <div data-aos="fade-up"
                    class="absolute left-0 right-0 h-16 bg-gradient-to-b  from-[#E253FA]/[.4] to-[#21202600] "></div>
                <div data-aos="fade-up">
                    <img class=" h-28 lg:h-56" src="/img/game-mode-frame.png" alt="game mode frame">
                </div>
            </div>
        </div>
        <div class="pt-32 pb-16 overflow-hidden">
            <div class=" mx-4 md:mx-10 lg:mx-4 2xl:mx-40 lg:grid lg:grid-cols-2">
                <div data-aos="fade-right" class="relative row-span-3">
                    <img class="object-center" src="/img/game-mode-introduce.png" alt="introduct img">
                    <div data-aos="fade-left" data-aos-delay="100"
                        class="absolute h-1/3 bottom-0 left-0 right-0 bg-[#0000008A] flex items-center justify-between">
                        <div data-aos="fade-left" data-aos-delay="300"
                            class="h-full w-1/5 flex items-center justify-center bg-[#FBC62521] backdrop-blur-md">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="#FBC625"
                                viewBox="0 0 384 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                <path
                                    d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z" />
                            </svg>
                        </div>
                        <div class="mr-5 flex flex-col items-end gap-0.5 md:gap-4">
                            <div data-aos="fade-left" data-aos-delay="400"
                                class="font-drone-ranger font-bold uppercase text-xl md:text-3xl text-white">{{ $t("play_title") }}</div>
                            <button data-aos="fade-left" data-aos-delay="500"
                                class="btn-primary font-inter font-semibold text-sm md:text-base w-24 md:w-32 py-1 md:py-2 uppercase text-white">{{ $t("play_btn") }}</button>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="200" class="flex items-center justify-start w-full bg-[#FBC625]">
                    <div class="font-drone-ranger font-bold text-4xl text-[#17161A] px-4">1</div>
                    <p class="font-inter font-medium text-xs xl:text-sm text-justify  py-2 md:py-4 pr-4 text-[#3A3841]">
                        {{ $t("title") }}
                    </p>
                </div>
                <div data-aos="fade-up" data-aos-delay="300" class="flex items-center justify-start w-full bg-[#3D3B44]">
                    <div class="font-drone-ranger font-bold text-4xl text-[#D6D6D6] px-4">2</div>
                    <p class="font-inter font-medium text-xs xl:text-sm text-justify  py-2 md:py-4 pr-4 text-[#D6D6D6]">
                        {{ $t("title") }}
                    </p>
                </div>
                <div data-aos="fade-up" data-aos-delay="400" class="flex items-center justify-start w-full bg-[#2A282F]">
                    <div class="font-drone-ranger font-bold text-4xl text-[#89888B] px-4">3</div>
                    <p class="font-inter font-medium text-xs xl:text-sm text-justify  py-2 md:py-4 pr-4 text-[#89888B]">
                        {{ $t("title") }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import GameModeSelection from './GameModeSelection.vue'
import SectionTittle from './SectionTittle.vue'
</script>

<style></style>