<template>
    <div class="absolute -right-3 md:-right-9 -bottom-16 bg-white px-2 py-1 rounded-md  before:absolute before:-top-8 before:md:right-6 before:right-0 before:border-x-[20px] before:border-y-[20px] before:border-solid before:border-x-transparent before:border-t-transparent before:border-b-white origin-top-right-75 animate-growth">
        <NuxtLink class="flex w-28 justify-between text-black" v-for="item in locales" :key="typeof item === 'object' ? item.iso : item" :to="switchLocalePath(typeof item === 'object' ? item.code : item)">
            {{ typeof item === 'object' ? item.name : item }}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                class="w-6 h-6 hidden">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>

        </NuxtLink>
    </div>
</template>
    
<script setup lang='ts'>
const { locales, setLocale } = useI18n()
const switchLocalePath = useSwitchLocalePath()
</script>
    
<style></style>