<template>
  <div>
    <div class="relative h-[300px]">
      <div class="absolute w-full h-full -top-6 bg-new-arrivals flex items-center justify-between bg-cover overflow-hidden ">
        <div class="container flex items-center mx-auto gap-2 2xl:gap-0 2xl:justify-around px-4 2xl:px-0">
          <div class="sm:mr-8">
            <img data-aos="zoom-in-right" class=" h-34 sm:h-40" src="/img/Frame.png" alt="new arrivals">
          </div>
          <div data-aos="fade-right" class="">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 transition transform duration-300 ease-in-out hover:scale-125 cursor-pointer" fill="#be185d"
              viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M512 256A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM231 127c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-71 71L376 232c13.3 0 24 10.7 24 24s-10.7 24-24 24l-182.1 0 71 71c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L119 273c-9.4-9.4-9.4-24.6 0-33.9L231 127z" />
            </svg>
          </div>
          <div class="flex gap-8">
            <new-arrival-item data-aos="zoom-in" data-aos-delay="100" data-aos-duration="1000" :nameArrival="$t('new_arrival.the_DJ')" arrivalImglink="/img/DJ.png" class=""/>
            <new-arrival-item data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000" :nameArrival="$t('new_arrival.assassin')" arrivalImglink="/img/Assasin.png" class="hidden md:flex"/>
            <new-arrival-item data-aos="zoom-in" data-aos-delay="300" data-aos-duration="1000" :nameArrival="$t('new_arrival.neon_Guy')" arrivalImglink="/img/Neon.png" class="hidden lg:flex"/>
            <new-arrival-item data-aos="zoom-in" data-aos-delay="400" data-aos-duration="1000" :nameArrival="$t('new_arrival.mafia_England')" arrivalImglink="/img/Mafia.png" class="hidden xl:flex"/>
            <new-arrival-item data-aos="zoom-in" data-aos-delay="500" data-aos-duration="1000" :nameArrival="$t('new_arrival.bassketball_girl')" arrivalImglink="/img/Bassketball.png" class="hidden 2xl:flex"/>
          </div>
          <div data-aos="fade-left" class="ml-3"> 
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 transition transform duration-300 ease-in-out hover:scale-125 cursor-pointer" fill="#be185d"
              viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM281 385c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l71-71L136 280c-13.3 0-24-10.7-24-24s10.7-24 24-24l182.1 0-71-71c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L393 239c9.4 9.4 9.4 24.6 0 33.9L281 385z" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import NewArrivalItem from './NewArrivalItem.vue'
</script>

<style></style>