<template>
  <div class="flex justify-end items-center flex-col pt-12 min-[450px]:pt-16">
    <div class="relative w-[133px] h-20 min-[450px]:w-[200px] min-[450px]:h-[120px] bg-black">
        <div class="absolute -top-3 -right-3 border border-secondary">
            <img src="/img/imagebgitem.png" alt="bg item" class="h-20 min-[450px]:h-[120px]">
            <div class="absolute inset-0 -top-[33px] min-[450px]:-top-[48px] flex justify-center items-center">
                <img :src="`${props.arrivalImglink}`" alt="avatar item">
            </div>
        </div>
    </div>
    <div class="font-drone-ranger font-semibold uppercase text-sm sm:text-base mt-4">
        {{ props.nameArrival }}
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
    arrivalImglink: {type: String, required: true},
    nameArrival: {type: String, required: true}
})
</script>

<style>

</style>