<template>
    <div class="flex flex-col pt-16 lg:pt-24 justify-center items-center gap-6 lg:gap-4">
        <h1 class="font-drone-ranger uppercase font-bold text-4xl lg:text-[40px] leading[56px] text-secondary text-center">
            {{ props.heading }}</h1>
        <p v-if="isTitle" class="font-inter text-sm lg:text-base font-medium text-white max-w-5xl text-center mx-8 lg:mx-3">
            {{ props.title }}
        </p>
        <div class="pt-2">
            <img class=" w-32 lg:w-60" src="/img/seperator.png" alt="seperator">
        </div>
    </div>
</template>
<script setup>
const props = defineProps({
    heading: { type: String, required: true },
    title: { type: String }
})
const isTitle = computed(() => props.title === ''? false : true);
</script>