<template>
    <div class="relative h-52 bg-stakeholders bg-cover flex justify-start 2xl:justify-center items-center overflow-x-scroll overflow-hidden hide-scroll">
        <ul class="flex flex-shrink-0 items-center justify-center gap-10 2xl:gap-20 pt-6 mx-4 ">
            <li><img data-aos="fade-right"  class="h-9 lg:h-11" src="/img/Binance.png" alt="binance"></li>
            <li><img data-aos="fade-right" data-aos-delay="50" class="h-9 lg:h-11" src="/img/CoinMarketCapp.png" alt="coin market cap"></li>
            <li><img data-aos="fade-right" data-aos-delay="100" class="h-9 lg:h-11" src="/img/Pancakeswap.png" alt="pancake swap"></li>
            <li><img data-aos="fade-right" data-aos-delay="150" class="h-9 lg:h-10" src="/img/Nixus.png" alt="nixus ai"></li>
            <li><img data-aos="fade-right" data-aos-delay="200" class="h-9 lg:h-10" src="/img/Zeit.png" alt="zeit media"></li>
            <li><img data-aos="fade-right" data-aos-delay="250" class="h-9 lg:h-10" src="/img/Eth.png" alt="Eth"></li>
        </ul>
    </div>
</template>

<script setup>
</script>

<style></style>