<template>
    <div class="relative bg-cover rounded cursor-pointer transition-all transform duration-300 ease-in-out hover:scale-105" :style="{backgroundImage: `url(/img/${props.imgName}.png)`}">
        <div class="flex flex-col absolute bottom-0 right-0 left-0 mx-6 mb-6 gap-5">
            <div data-aos="fade-right" data-aos-delay="200" class="font-drone-ranger font-bold text-xl text-white tracking-wider">{{ props.title}} </div>
            <div class="h-[1px] bg-secondary w-full"></div>
            <div class="flex gap-10 ">
                <div data-aos="fade-right" data-aos-delay="300"  class="flex gap-2 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-white">
                        <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                        <path fill-rule="evenodd"
                            d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
                            clip-rule="evenodd" />
                    </svg>
                    <div class="font-inter font-medium text-[14px] text-white leading-5">{{ props.numberSee }}</div>
                </div>
                <div data-aos="fade-right" data-aos-delay="400"  class="flex gap-2 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-white">
                        <path fill-rule="evenodd"
                            d="M4.804 21.644A6.707 6.707 0 006 21.75a6.721 6.721 0 003.583-1.029c.774.182 1.584.279 2.417.279 5.322 0 9.75-3.97 9.75-9 0-5.03-4.428-9-9.75-9s-9.75 3.97-9.75 9c0 2.409 1.025 4.587 2.674 6.192.232.226.277.428.254.543a3.73 3.73 0 01-.814 1.686.75.75 0 00.44 1.223zM8.25 10.875a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25zM10.875 12a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0zm4.875-1.125a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25z"
                            clip-rule="evenodd" />
                    </svg>
                    <div class="font-inter font-medium text-[14px] text-white leading-5">{{ props.numberComment }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
    const props = defineProps({
        title: {type: String, required: true},
        imgName: {type: String, required: true},
        numberSee: {type: Number, required: true},
        numberComment: {type: Number, required: true}
    })
    const hasImage = ref(true);
</script>

<style></style>