<template>
  <div>
    <section-tittle data-aos="fade-up" :heading="$t('section_title.search_new')" title="" />
  </div>
  <div class="grid md:grid-rows-2 md:grid-flow-col h-[680px] gap-10 mx-4 2xl:mx-40 mt-20 pb-28 overflow-hidden">
    <the-news-item data-aos="fade-right" data-aos-duration="1000" :title="$t('new_title')" img-name="the-new-1" :number-see="114558" :number-comment="2408" class="row-span-1 lg:row-span-2"/>
    <the-news-item data-aos="fade-down-right" data-aos-duration="1000" :title="$t('new_title')" img-name="the-new-2" :number-see="123494" :number-comment="1105" class="row-span-1"/>
    <the-news-item data-aos="fade-up" data-aos-duration="1000" :title="$t('new_title')" img-name="the-new-3" :number-see="148503" :number-comment="1135" class="row-span-1 lg:col-span-2 hidden md:block"/>
    <the-news-item data-aos="fade-down-left" data-aos-duration="1000" :title="$t('new_title')" img-name="the-new-4" :number-see="123494" :number-comment="1105" class="row-span-1 hidden md:block"/>
    <the-news-item data-aos="fade-left" data-aos-duration="1000" :title="$t('new_title')" img-name="the-new-5" :number-see="123494" :number-comment="1105" class="row-span-1 hidden xl:block"/>
    <the-news-item data-aos="fade-left" data-aos-duration="1000" :title="$t('new_title')" img-name="the-new-6" :number-see="123494" :number-comment="1105" class="row-span-1 hidden xl:block"/>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>