<template>
    <section class="w-full h-[1080px] relative">
        <img class="w-full h-full object-cover" src="/img/Slider.png" alt="slider">
        <div class="absolute top-0 left-0 right-0 text-white container mx-auto py-[84px] px-4 2xl:px-0 overflow-hidden">
            <div class="flex flex-col">
                <div class="mt-8 lg:mt-44">
                    <div class="flex flex-col gap-4 lg:gap-10 w-80 sm:w-96 lg:w-[590px]">
                        <div data-aos="fade-right"
                            class="font-drone-ranger font-bold uppercase text-2xl md:text-3xl lg:text-4xl text-secondary transition-all duration-700 ease-linear">
                            {{ $t('heading') }}
                        </div>
                        <p data-aos="fade-left" class="font-inter font-medium text-[14px] leading-5 text-justify">
                            {{ $t('description') }}
                        </p>
                    </div>
                </div>
                <div class="flex items-center mt-8 lg:mt-10">
                    <div class="grid items-center grid-cols-2 md:grid-cols-4 gap-8">
                        <div class="">
                            <div data-aos="fade-right" class="font-drone-ranger font-bold text-xl leading-8 text-white">
                                $900.000</div>
                            <div data-aos="fade-left"
                                class="font-inter font-medium text-[14px] leading-5 text-justify mt-2 text-secondary">
                                {{ $t('active_player') }}</div>
                        </div>
                        <div class="">
                            <div data-aos="fade-right" class="font-drone-ranger font-bold text-xl leading-8 text-white">
                                $900.000</div>
                            <div data-aos="fade-left"
                                class="font-inter font-medium text-[14px] leading-5 text-justify mt-2 text-secondary">
                                {{ $t('active_player') }}</div>
                        </div>
                        <div class="">
                            <div data-aos="fade-right" class="font-drone-ranger font-bold text-xl leading-8 text-white">
                                $900.000</div>
                            <div data-aos="fade-left"
                                class="font-inter font-medium text-[14px] leading-5 text-justify mt-2 text-secondary">
                                {{ $t('active_player') }}</div>
                        </div>
                        <div class="">
                            <div data-aos="fade-right" class="font-drone-ranger font-bold text-xl leading-8 text-white">
                                $900.000</div>
                            <div data-aos="fade-left"
                                class="font-inter font-medium text-[14px] leading-5 text-justify mt-2 text-secondary">
                                {{ $t('active_player') }}</div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="300" class="flex gap-5 mt-20 font-inter overflow-hidden py-2 px-2 -ml-2">
                    <button class="w-52 h-[62px] btn-primary uppercase font-semibold text-base text-center rounded">
                        {{ $t('play_btn') }}</button>
                    <button
                        class="w-52 h-[62px] bg-transparent uppercase font-semibold text-base text-white text-center border border-white rounded transition-all transform duration-300 hover:scale-105">
                        {{ $t('learn_more_btn') }}</button>
                </div>
            </div>
        </div>
        <div class="absolute bottom-16 w-full flex justify-center flex-col items-center gap-4 animate-bounce">
            <div class="font-inter font-bold text-base text-white">{{ $t('scroll_down') }}</div>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="white"
                viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path
                    d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
            </svg>
    </div>
</section></template>

<script>

</script>

<style></style>