<template>
    <div class="flex flex-col justify-center items-center gap-20 overflow-hidden">
        <section-tittle data-aos="fade-up" :heading="$t('section_title.token')" title=""/>
        <div class=" flex flex-col justify-center items-center gap-8 md:grid md:grid-cols-2 md:gap-16 lg:grid-cols-3 xl:gap-32">
            <token-distribution-item data-aos="fade-down-right"/>
            <token-distribution-item data-aos="fade-down-left"/>
            <token-distribution-item data-aos="fade-up-right"/>
            <token-distribution-item data-aos="fade-up-left"/>
            <token-distribution-item data-aos="fade-down-right"/>
            <token-distribution-item data-aos="fade-down-left"/>  
        </div>
    </div>
</template>

<script setup>

</script>

<style>

</style>