<template>
    <div class="flex flex-col justify-center items-center max-w-xs">
        <div class="w-65 h-65 relative">
            <svg class="w-65 h-65 rounded-full transform -rotate-90">
                <defs>
                    <linearGradient id="gradient" y1="0" y2="1">
                        <stop stop-color="rgb(218 69 143 / 6)" offset="0" />
                        <stop stop-color="#DA34DD" offset="1" />
                    </linearGradient>
                </defs>
                <g>
                    <circle class="fill-none stroke-[12] blur-lg" stroke="url(#gradient)" stroke-dasharray="680" stroke-dashoffset="0"
                        stroke-linecap="round" cx="137" cy="137" r="105"></circle>
                    <circle class="fill-none stroke-[12]" stroke="url(#gradient)" stroke-dasharray="625" stroke-dashoffset="0"
                        stroke-linecap="round" cx="137" cy="137" r="100"></circle>
                    <circle class="fill-none stroke-[10] stroke-[#17161acc]" stroke-dasharray="625" stroke-dashoffset="0"
                        stroke-linecap="round" cx="137" cy="137" r="100"></circle>
                        <!-- offset = dasharray - dasharray*percent -->
                    <circle class="fill-none stroke-[10]"  stroke="url(#gradient)" stroke-dasharray="625" stroke-dashoffset="468"
                        stroke-linecap="round" cx="137" cy="137" r="100"></circle>
                </g>
            </svg>
            <span
                class="absolute top-0 right-0 left-0 bottom-0 flex justify-center items-center font-drone-ranger font-bold text-3xl text-white tracking-widest">25%</span>
        </div>
        <div class=" flex flex-col items-center gap-2">
            <div class="font-drone-ranger font-bold text-xl text-secondary">
                {{ $t("token_distribution.staker") }}
            </div>
            <div class="font-inter font-medium text-sm text-white">
                $25.000.000
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style></style>