<template>
  <div class="flext justify-center items-center relative pt-56 mx-4 2xl:mx-40 mb-32">
    <div class="flex lg:flex-row flex-col-reverse justify-between 2xl:px-20 gap-10 lg:gap-0 relative z-20">
      <div class="flex justify-center items-center mx-4">
        <div class="flex flex-col items-center justify-center w-40 md:gap-10">
          <div data-aos="fade-down" class="font-drone-ranger font-bold text-5xl md:text-7xl text-secondary leading-tight">
            {{$t('token_distribution.play_right_now')}}
          </div>
          <button data-aos="fade-up" class="btn-primary w-32 md:w-40 py-2 font-inter uppercase font-semibold text-base text-white">{{$t("play_btn")}}</button>
        </div>
        <div data-aos="fade-right">
          <img class="w-[541px]" src="/img/playnow.png" alt="play now">
        </div>
      </div>
      <div class="flex flex-col justify-center items-center gap-7 lg:mr-4">
          <div class="flex items-center justify-center md:w-100 lg:w-96 xl:w-100 gap-5 md:gap-0">
            <div data-aos="fade-right" data-aos-delay="100" class="md:basis-1/6 font-drone-ranger font-bold text-lg text-white text-right pr-5">#</div>
            <div data-aos="fade-right" data-aos-delay="200" class="md:basis-3/6 font-drone-ranger font-bold text-lg text-white pl-2" >{{ $t("token_distribution.player") }}</div>
            <div data-aos="fade-right" data-aos-delay="200" class="md:basis-2/6 font-drone-ranger font-bold text-lg text-white pl-24 md:pl-16 lg:pl-8">{{ $t("token_distribution.winnings") }}</div>
          </div>
          <div class="flex flex-col justify-between items-center gap-5 ">
            <top-rank-person data-aos="fade-up" data-aos-delay="100"/>
            <top-rank-person data-aos="fade-up" data-aos-delay="200"/>
            <top-rank-person data-aos="fade-up" data-aos-delay="300"/>
            <top-rank-person data-aos="fade-up" data-aos-delay="400"/>
            <top-rank-person data-aos="fade-up" data-aos-delay="500"/>
          </div>
      </div>
    </div>
    <div class="absolute z-0 bottom-0 left-0 right-0">
        <div class="h-[592px] w-full bg-gradient-to-tl from-[#fbc625]/40 via-[#b1995a00]"></div>
    </div>
    <div class="absolute h-[592px] w-[2px] bg-gradient-to-t from-[#fbc625] to-[#b1995a00] bottom-0 left-0"></div>
    <div class="absolute h-[592px] w-[2px] bg-gradient-to-t from-[#fbc625] to-[#b1995a00] bottom-0 right-0"></div>
    <div class="absolute z-30 h-[2px] w-full rounded-md bg-gradient-to-t from-[#fbc625] to-[#b1995a00] bottom-0 left-0 right-0"></div>
  </div>
</template>

<script>
import TopRankPerson from './TopRankPerson.vue'
export default {
  components: { TopRankPerson },

}
</script>

<style>

</style>