<template>
    <div class="flex justify-between items-center p-3 md:p-5 border border-[#DA34DD] rounded-md md:w-100 lg:w-96 xl:w-100 gap-8">
        <div class="flex justify-center items-center gap-9">
            <div class="xl:pl-9 w-2 text-white font-inter text-base font-medium">1</div>
            <div class="flex justify-center items-center gap-2">
                <img class=" w-8 xl:w-10" src="/img/avatarTopRank.png" alt="avatar">
                <div class="font-inter text-xs lg:text-base font-medium text-white">lid***********</div>
            </div>
        </div>
        <div class="flex justify-center items-center xl:pr-9 gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class=" w-6 h-6 text-white">
                <path
                    d="M10.464 8.746c.227-.18.497-.311.786-.394v2.795a2.252 2.252 0 01-.786-.393c-.394-.313-.546-.681-.546-1.004 0-.323.152-.691.546-1.004zM12.75 15.662v-2.824c.347.085.664.228.921.421.427.32.579.686.579.991 0 .305-.152.671-.579.991a2.534 2.534 0 01-.921.42z" />
                <path fill-rule="evenodd"
                    d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v.816a3.836 3.836 0 00-1.72.756c-.712.566-1.112 1.35-1.112 2.178 0 .829.4 1.612 1.113 2.178.502.4 1.102.647 1.719.756v2.978a2.536 2.536 0 01-.921-.421l-.879-.66a.75.75 0 00-.9 1.2l.879.66c.533.4 1.169.645 1.821.75V18a.75.75 0 001.5 0v-.81a4.124 4.124 0 001.821-.749c.745-.559 1.179-1.344 1.179-2.191 0-.847-.434-1.632-1.179-2.191a4.122 4.122 0 00-1.821-.75V8.354c.29.082.559.213.786.393l.415.33a.75.75 0 00.933-1.175l-.415-.33a3.836 3.836 0 00-1.719-.755V6z"
                    clip-rule="evenodd" />
            </svg>

            <div class="font-inter text-xs lg:text-base font-medium text-white">19.466.92</div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style></style>