<template>
  <div class="bg-[#212026]">
    <the-slider />
    <section>
      <new-arrivals />
    </section>
    <section>
      <game-mode />
    </section>
    <section>
      <token-distribution />
    </section>
    <section>
      <top-rank />
    </section>
    <section>
      <stakeholders />
    </section>
    <section>
      <the-news />
    </section>
    <section>
      <our-community />
    </section>
  </div>
</template>

<script setup>
definePageMeta({ layout: 'default' })

const observer = ref({});

// onMounted(() => {
//   const animationElements = document.querySelectorAll('.aos-init');

//   const observer = new IntersectionObserver(entries => {
//     entries.forEach(entry => {
//       if (entry.isIntersecting) {
//         if (!entry.target.classList.contains('aos-animate')) {
//          entry.target.classList.add('aos-animate');
//         }
//       }else{
//         entry.target.classList.remove('aos-animate')
//       }
      
//     })
//   })

//   animationElements.forEach(animationElement => {
//     observer.observe(animationElement);
//   })
// })

</script>

<style></style>